annotated-types==0.7.0
asgiref==3.11.1
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
cloudinary==1.44.2
colorama==0.4.6
cryptography==47.0.0
distlib==0.4.0
dj-database-url==3.1.2
dj3-cloudinary-storage==0.0.6
Django==5.2.13
filelock==3.24.3
google-ai-generativelanguage==0.6.15
google-api-core==2.30.3
google-api-python-client==2.194.0
google-auth==2.49.2
google-auth-httplib2==0.3.1
google-generativeai==0.8.6
googleapis-common-protos==1.74.0
grpcio==1.80.0
grpcio-status==1.71.2
gunicorn==25.3.0
httplib2==0.31.2
idna==3.13
packaging==26.2
pillow==12.2.0
platformdirs==4.9.2
proto-plus==1.27.2
protobuf==5.29.6
psycopg2-binary==2.9.12
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
pydantic==2.13.3
pydantic_core==2.46.3
pyparsing==3.3.2
python-discovery==1.1.0
python-dotenv==1.2.2
reportlab==4.5.0
requests==2.33.1
six==1.17.0
sqlparse==0.5.5
tqdm==4.67.3
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.2
uritemplate==4.2.0
urllib3==2.6.3
virtualenv==21.1.0
whitenoise==6.12.0
